@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Saira+Condensed:wght@300&family=Source+Serif+Pro:ital@0;1&display=swap');

@media screen and (min-width:600px) {
    body {
        font-family: 'Saira Condensed', sans-serif;
        background : rgb(10, 15, 20);
        background : linear-gradient(0deg, hsl(234, 61%, 12%) 0%, hsl(234, 69%, 11%) 25%, hsl(235, 63%, 12%) 50%, hsl(233, 69%, 17%) 75%, hsl(234, 66%, 12%) 100%);
        color      : white;
        font-size  : 16px;
    }

    h1 {
        font-family: 'Roboto', sans-serif;
        font-size  : 40px;
        font-style : heavy;
        color      : white;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size  : 30px;
    }

    h3,
    h4 {
        font-family: 'Roboto', sans-serif;
        font-size  : 25px;
    }


}

@media screen and (max-width:600px){
    body {
        font-family: 'Saira Condensed', sans-serif;
        background : rgb(10, 15, 20);
        background : linear-gradient(0deg, hsl(234, 61%, 12%) 0%, hsl(234, 69%, 11%) 25%, hsl(235, 63%, 12%) 50%, hsl(233, 69%, 17%) 75%, hsl(234, 66%, 12%) 100%);
        color      : white;
        font-size  : 20px;
    }
    
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size  : 35px;
        font-style : heavy;
        color      : white;
    }
    
    h2 {
        font-family: 'Roboto', sans-serif;
        font-size  : 30px;
    }
    
    h3,
    h4 {
        font-family: 'Roboto', sans-serif;
        font-size  : 25px;
    }

    #item-table{
        font-size:12px;
        width:50%;
    }
}
#list {
    margin-top: 20px;
}

#header {
    background-color: hsl(22, 71%, 49%);
    font-size       : 25px;
    color           : white;
    display         : block;
    width           : 100vw;
    box-shadow      : 0px 1px 4px rgb(117, 117, 117);
    text-align      : center;
    padding         : 0px;
    position        : fixed;
    top             : 0px;
    transition      : top 0.5s ease-in-out;
    z-index         : 2;
    margin-bottom   : 10px;
}

#header.hide {
    top: -60px
}

#header>ul {
    list-style-type: none;
    padding        : 2px;
}

#header>ul>li {
    display    : inline;
    margin-left: 30px;
}

#main {
    margin    : 20px;
    margin-top: 100px;
    min-height: 80vh;
    padding   : 40px;
}

#main p {
    display      : inline-block;
    border-radius: 4px;
}

.showlistButton {
    box-shadow      : 2px 2px 2px white;
    display         : inline-block;
    color           : white;
    background-color: hsl(204, 100%, 29%);
    border-radius   : 5px;
    margin          : 5px;
    min-width       : 100px;
}

.showlistButton:hover {
    box-shadow: 2px 2px 2px hsl(180, 96%, 67%);
}

#welcome {
    margin-top   : 100px;
    margin-bottom: 50px;
}

#goToCart {
    box-shadow      : 2px 2px 2px white;
    display         : inline;
    color           : white;
    background-color: hsl(113, 100%, 21%);
    border-radius   : 5px;
    margin          : 3px;
}

#goToCart:hover {
    box-shadow: 2px 2px 2px hsl(71, 96%, 67%);
}

section {
    min-height: 20vh;
}

table {
    font-family: 'Roboto', sans-serif;
    font-size  : 14px;
    
}

#footer {
    display         : none;
    width           : 100vw;
    background-color: hsl(138, 95%, 17%);
    margin-top      : 40px;
    padding         : 30px;
    box-shadow      : 0px -2px 2px black;
    position        : fixed;
    top             : 90vh;
    transition      : top ease-in-out .7s;
}

#footer:hover {
    top: 80vh;
}

.loginInput,
.loginButton {
    border-radius: 3px;
    padding      : 5px;
    border       : 0px;
    font-family  : 'Roboto', 'Courier New', Courier, monospace;
    font-size    : 60x;
    font-style   : bold;
}

.loginInput {
    text-align      : left;
    display         : block;
    width           : 100%;
    max-width       : 400px;
    color           : hsl(234, 78%, 20%);
    background-color: hsl(0, 0%, 65%);
    margin-bottom   : 20px;
}

.loginInput:hover {
    background-color: hsl(0, 0%, 98%);
}

.loginButton {
    width           : 60%;
    max-width       : 150px;
    color           : white;
    background-color: hsl(143, 100%, 29%);
    margin          : 0;
    margin-right    : 40px;
    margin-bottom   : 20px;
}

.loginButton:hover {
    background-color: hsl(143, 100%, 35%);
}

.loginButtons {
    margin    : 0 auto;
    text-align: left;
}

#user {
    width        : 80vw;
    display      : block;
    text-align   : center;
    padding      : 50px;
    margin       : 30px auto;
    border-radius: 4px;
    display      : none;
}

#resetButton {
    width    : 90%;
    max-width: 200px;
}

.center {
    margin    : auto;
    text-align: center;
    max-width : 500px;
}

.center>h3 {
    margin-bottom: 40px;
    text-align   : left;
}

table,
.mygrad {
    background: linear-gradient(160deg, rgba(30, 36, 92, 0.2) 0%, rgba(15, 30, 165, 0.3) 35%, hsla(234, 70%, 30%, .6) 42%, hsla(234, 70%, 30%, .6) 59%, hsla(234, 60%, 40%, .1) 100%);
}

#userSignOut {
    font-family: "Saira Condensed", sans-serif;
    font-size  : 25px;
    color      : white;
    min-width  : 200px;
    display    : inline-block;
}

.shrinkmargin,
#main {
    margin-bottom: 200px;
    min-height   : 30px;
    padding      : 10px;
}

#log {
    color: grey;
}

#googleSignin {
    background: hsla(150, 30%, 59%, 0.397);
}

#googleSignin:hover {
    background: hsla(113, 93%, 34%, 0.692);
}

#editUser {
    max-width    : 40px;
    max-height   : 40;
    border-radius: 20px;
}

.hide {
    display: none;
}

.form-control {
    min-height   : 40px;
    margin-bottom: 10px;
}

#goToCart {
    display: none;
}

.userImage {
    max-width    : 200px;
    max-height   : 200px;
    border-radius: 100px;
    box-shadow   : 1px 1px 1px grey;
    margin       : 40px;
}



input[type=text] {
    font-size  : 30px;
    color      : hsl(234, 61%, 12%);
    font-weight: bolder;

}

input[type=email] {
    font-size  : 30px;
    color      : hsl(234, 61%, 12%);
    font-weight: bolder;

}

input[type=number] {
    font-size  : 30px;
    color      : hsl(234, 61%, 12%);
    font-weight: bolder;

}

input::placeholder {
    font-weight: lighter;
    color      : #ccc;
    font-size  : 25px;
    opacity    : .3;

}

textarea {
    font-size  : 30px;
    color      : hsl(234, 61%, 12%);
    font-weight: bold;

}

textarea::placeholder {
    font-weight: lighter;
    color      : #ccc;
    font-size  : 25px;
    opacity    : .3;

}