@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Saira+Condensed:wght@300&family=Source+Serif+Pro:ital@0;1&display=swap');
body {
    font-family: 'Saira Condensed', sans-serif;
    background: rgb(10, 15, 20);
    background: linear-gradient(0deg, hsl(234, 61%, 12%) 0%, hsl(234, 69%, 11%) 25%, hsl(235, 63%, 12%) 50%, hsl(233, 69%, 17%) 75%, hsl(234, 66%, 12%) 100%);
    color: white;
    font-size: 20px;
}

#list {
    margin-top: 20px;
}

#header {
    background-color: hsl(22, 71%, 49%);
    font-size: 25px;
    color: white;
    display: block;
    width: 100vw;
    box-shadow: 0px 3px 4px rgb(117, 117, 117);
    text-align: center;
    padding: 0px;
    position: fixed;
    top: 0px;
    transition: top 0.5s ease-in-out;
    z-index: 5;
    margin-bottom: 10px;
    ;
}

#header.hide {
    top: -60px
}

#header>ul {
    list-style-type: none;
    padding: 2px;
}

#header>ul>li {
    display: inline;
    margin-left: 30px;
}

#main {
    min-height: 80vh;
    padding: 40px;
    margin: 20px;
}

#main p {
    display: inline;
    padding: 10px;
    border: 1px solid hsl(150, 20%, 80%);
    border-radius: 4px;
    margin-left: 10px;
}

#main p:hover {
    padding: 9px;
    border: 2px solid rgb(76, 235, 55);
    ;
}

.showlistButton {
    box-shadow: 2px 2px 2px white;
    display: inline;
    color: white;
    background-color: hsl(204, 100%, 29%);
    border-radius: 5px;
    margin: 3px;
}

.showlistButton:hover {
    box-shadow: 2px 2px 2px hsl(180, 96%, 67%);
}

#welcome {
    margin-top: 100px;
    margin-bottom: 50px;
}

#goToCart {
    box-shadow: 2px 2px 2px white;
    display: inline;
    color: white;
    background-color: hsl(113, 100%, 21%);
    border-radius: 5px;
    margin: 3px;
}

#goToCart:hover {
    box-shadow: 2px 2px 2px hsl(71, 96%, 67%);
}

section {
    min-height: 20vh;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: heavy;
    color: white;
}

h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

table {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#footer {
    display: block;
    width: 100vw;
    background-color: hsl(138, 95%, 17%);
    margin-top: 40px;
    padding: 30px;
    box-shadow: 0px -2px 2px black;
    position: fixed;
    top: 90vh;
    transition: top ease-in-out .7s;
}

#footer:hover {
    top: 80vh;
}